* {
  margin: 0;
  padding: 0;
  /* border: 0; */
}

body {
  text-align: center;
  background: radial-gradient(90% 60% at 50% 80%, rgba(255, 255, 255, 0) 60%, #000851 93.7%), no-repeat #1CB5E0;
  max-height: 100%;
  overflow-y: hidden;
}

/* Intro Page */

.Intro-container {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  max-height: 1080px;
  padding: 0% 20% 0% 20%;
}

.story-cards {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 80vh;
  height: 850px;
  margin-top: 30%;
  border: solid 10px black;
  box-shadow: rgba(218, 183, 183, 0.35) 10px 10px 15px;
  background-color: rgb(32, 28, 28);
}

.image-box {
  height:70%;
  background-image: url("/intro1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid 10px black;
}

.text-box {
  height: 50%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: azure;
  text-shadow:  0px 2px 3px rgb(116, 22, 22);
}

.text-box p {
  padding: 5%;
}

#story-card-1 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

/* #story-card-2 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
} */

#continue {
  height: 50px;
  width: 150px;
  border-radius: 16px;
  background-color: black;
  color: white;
  margin: 1%;
  font-size: 1.10em;
  text-shadow:  3px 2px 3px rgb(116, 22, 22);
  
}

.glitch {
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 7rem;
  color: snow;
  letter-spacing: 0.5rem;
  position: relative;
  border-bottom: 5px solid whitesmoke;
  border-style: ridge;
  margin-bottom: 1%;

  /* text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75); */

  /* animation: glitch 0.5s infinite; */
  /* animation-delay: 10s; */
}

.glitch span {
  position: absolute;
  /* top: 100;
  left: 100; */
}

.glitch span:first-child {
  animation: glitch 0.65s infinite, pause 5s infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 45%);
  transform: translate(-0.05em, -0.025em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 0.375s infinite, pause 5s infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75)
  }

  14% {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75)
  }

  15% {
    text-shadow:
      -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75)
  }

  49% {
    text-shadow:
      -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75)
  }

  50% {
    text-shadow:
      0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 rgba(0, 0, 255, 0.75)
  }

  99% {
    text-shadow:
      0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75)
  }

  100% {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75)
  }
}

@keyframes pause {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  90.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.round-result {
  font-size: 4rem;
  font-family: 'Pangolin', cursive;
}

#background-city {
  display: flex;
  justify-content: space-evenly;
  margin: 0% 15%;
  border: solid 4px black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* min-height: 500px; */
}

#background-city img {
  height: 25rem;
}

#cup1-image {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom;
  padding-top: 30vh;

  animation-name: "";
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-play-state: running;
}

#cup2-image {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom;
  padding-top: 30vh;

  animation-name: "";
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-play-state: running;
}

#cup3-image {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom;
  padding-top: 30vh;

  animation-name: "";
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-play-state: running;
}

@keyframes liftcup {
  0% {
    padding-top: 30vh;
  }

  50% {
    padding-top: 15vh;
  }

  100% {
    padding-top: 30vh;
  }
}

.info-wrap {
  font-family: 'Pangolin', cursive;
  font-size: 2rem;
  padding: 1%;
}

#bet {
  margin-bottom: -0.2%;
  font-size: 1.25rem;
}

#enter-bet {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}

.cash img {
  height: 70px;
  width: 80px;
  text-align: left
}

#final-result {
  position: fixed;
  width: 100%;
  background-color: black;
  color: blanchedalmond;
}

a {
  color: white;
}

#location {
  padding: 0.5%;
  font-size: 1.25rem;
  background-color: black;
  color: blanchedalmond;
}