* {
  margin: 0;
  padding: 0;
}

body {
  /* text-align: center;
  background: radial-gradient(
      90% 60% at 50% 80%,
      rgba(255, 255, 255, 0) 60%,
      #000851 93.7%
    ),
    no-repeat #1cb5e0; */
  max-height: 100%;
  overflow-x: scroll;
}

/* .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#instructions-container {
  display: none;
  position: absolute;
  height: fit-content;
  background-color: black;
  color: azure;
  margin: 5%;
  padding: 5%;
  text-align: center;
  font-size: 1.5em;
}

#difficulty-container {
  display: none;
  flex-direction: column;
}

.difficulty {
  margin-top: 5%;
  font-size: medium;
}

button:focus.difficulty {
  background: red;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 16px;
  background-color: black;
  color: white;
  font-size: 1.1em;
  text-shadow: 3px 2px 3px rgb(116, 22, 22);
  outline: none;
  text-decoration: none;
  padding: 10px;
}

a:link {
  text-decoration: none;
}

#intro-glitch-container {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  margin-left: 2%;
  z-index: 1;
}

#intro-buttons {
  margin-top: 10%;
  /* z-index: 10; */

.glitch {
  font-family: "Big Shoulders Inline Text", cursive;
  font-size: 8rem;
  color: snow;
  letter-spacing: 0.5rem;
  position: relative;
  /* margin-bottom: 1%; */

  /* text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 2s infinite;
  animation-delay: 10s; */
}

.glitch span {
  position: absolute;
}

.glitch span:first-child {
  animation: glitch 0.65s infinite, pause 5s infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 45%);
  transform: translate(-0.05em, -0.025em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 0.375s infinite, pause 5s infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes pause {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  90.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.round-result {
  font-size: 4rem;
  font-family: "Pangolin", cursive;
}

a {
  color: white;
}

/* #location {
  font-size: 1rem;
  background-color: black;
  color: blanchedalmond;
  float: right;
} */
