* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: radial-gradient(90% 60% at 50% 80%, rgba(255, 255, 255, 0) 60%, #000851 93.7%), no-repeat #1CB5E0;
  max-height: 100%;
  overflow-y: hidden;
}

/* Intro Page */

.intro-container {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  /* max-height: 1080px; */
  padding: 0% 20% 0% 20%;
}

.story-cards {
  /* display: flex;
  flex-direction: column; */
  width: 55vh;
  height: 85vh;

  margin-top: 15%;
  border: solid 10px black;
  box-shadow: rgba(218, 183, 183, 0.35) 10px 10px 15px;
  background-color: rgb(32, 28, 28);
  /* z-index: 10; */
}

.image-box {
  height:60%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid 10px black;
}

#image-box-1 {
  background-image: url("/intro1.png");
}
#image-box-2 {
  background-image: url("/intro2.png");
}
#image-box-3 {
  background-image: url("/intro3.png");
}
#image-box-4 {
  background-image: url("/intro4.png");
}
#image-box-5 {
  background-image: url("/intro5.png");
}
#image-box-6 {
  background-image: url("/intro6.png");
}
#image-box-7 {
  background-image: url("/intro7.png");
}

.text-box {
  height: 40%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: azure;
  text-shadow:  0px 2px 3px rgb(116, 22, 22);
}

.text-box p {
  padding: 5%;
}

.story-cards {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

#story-card-1 {
  z-index: 9;
}
#story-card-2 {
  z-index: 8;
}
#story-card-3 { 
  z-index: 7;
}
#story-card-4 {  
  z-index: 6;
}
#story-card-5 { 
  z-index: 5;
}
#story-card-6 {
  z-index: 4;
}
#story-card-7 {
  z-index: 3;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 16px;
  background-color: black;
  color: white;
  margin: 1%;
  /* change below to rem */
  font-size: 1.10em;
  text-shadow:  3px 2px 3px rgb(116, 22, 22);  
  outline: none;
  text-decoration: none;
}

a:link { 
  text-decoration: none; 
}

#intro-glitch-container {
  
  grid-row: 2 / span 1;
  grid-column: 2 / span 2; 
  margin-left: 2%;
  z-index: 0;
} 

#intro-buttons {
  margin-top: 10%;
  z-index: 10;
}

.difficulty {
  opacity: 0;
}

 button:focus.difficulty {
  background: red;
}

.glitch {
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 8rem;
  color: snow;
  letter-spacing: 0.5rem;
  position: relative;
  margin-bottom: 1%;

  /* text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75); */

  /* animation: glitch 0.5s infinite; */
  /* animation-delay: 10s; */
}

.glitch span {
  position: absolute;
  /* top: 100;
  left: 100; */
}

.glitch span:first-child {
  animation: glitch 0.65s infinite, pause 5s infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 45%);
  transform: translate(-0.05em, -0.025em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 0.375s infinite, pause 5s infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75)
  }

  14% {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75)
  }

  15% {
    text-shadow:
      -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75)
  }

  49% {
    text-shadow:
      -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75)
  }

  50% {
    text-shadow:
      0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 rgba(0, 0, 255, 0.75)
  }

  99% {
    text-shadow:
      0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75)
  }

  100% {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75)
  }
}

@keyframes pause {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  90.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.round-result {
  font-size: 4rem;
  font-family: 'Pangolin', cursive;
}

#background-city {
  display: flex;
  justify-content: space-evenly;
  margin: 0% 15%;
  border: solid 4px black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* min-height: 500px; */
}

#background-city img {
  height: 25rem;
}

#cup1-image {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom;
  padding-top: 30vh;

  animation-name: "";
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-play-state: running;
}

#cup2-image {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom;
  padding-top: 30vh;

  animation-name: "";
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-play-state: running;
}

#cup3-image {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom;
  padding-top: 30vh;

  animation-name: "";
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-play-state: running;
}

@keyframes liftcup {
  0% {
    padding-top: 30vh;
  }

  50% {
    padding-top: 15vh;
  }

  100% {
    padding-top: 30vh;
  }
}

.info-wrap {
  font-family: 'Pangolin', cursive;
  font-size: 2rem;
  padding: 1%;
}

#bet {
  margin-bottom: -0.2%;
  font-size: 1.25rem;
}

#enter-bet {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}

.cash img {
  height: 70px;
  width: 80px;
  text-align: left
}

#final-result {
  position: fixed;
  width: 100%;
  background-color: black;
  color: blanchedalmond;
}

a {
  color: white;
}

#location {
  padding: 0.5%;
  font-size: 1.25rem;
  background-color: black;
  color: blanchedalmond;
}