* {
  margin: 0;
  padding: 0;
}

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#story-card {
  height: 85vh;
  width: 55vh;
  border: solid 10px black;
  box-shadow: rgba(218, 183, 183, 0.35) 10px 10px 15px;
  background-color: rgb(32, 28, 28);
}

#image-container {
  height: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid 10px black;
}

#text-container {
  height: 45%;
  text-align: center;
  font-size: 1.45em;
  font-weight: bold;
  color: azure;
  text-shadow: 0px 2px 3px rgb(116, 22, 22);
  padding: 5%;
}

#continue {
  margin-top: 1%;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 16px;
  background-color: black;
  color: white;
  font-size: 1.1em;
  text-shadow: 3px 2px 3px rgb(116, 22, 22);
  outline: none;
  text-decoration: none;
  padding: 10px;
}
